name: Build and test

on:
  push:
  workflow_call:

jobs:
  build:
    name: Build and test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Test on iOS simulator
        run: |
          xcodebuild test -scheme PowerSync-Package -destination "platform=iOS Simulator,name=iPhone 16"
      - name: Test on macOS
        run: |
          xcodebuild test -scheme PowerSync-Package -destination "platform=macOS,arch=arm64,name=My Mac"
      - name: Test on watchOS simulator
        run: |
          xcodebuild test -scheme PowerSync-Package -destination "platform=watchOS Simulator,arch=arm64,name=Apple Watch Ultra 2 (49mm)"
