name: Build and test

on:
  push:
  workflow_call:

jobs:
  build:
    name: Build and test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Test with strict concurrency
        run: |
          swift build -Xswiftc -strict-concurrency=complete
          swift test -Xswiftc -strict-concurrency=complete

      - name: Build and Test
        run: |
          xcodebuild test -scheme PowerSync-Package -destination "platform=iOS Simulator,name=iPhone 16"
          xcodebuild test -scheme PowerSync-Package -destination "platform=macOS,arch=arm64,name=My Mac"
          xcodebuild test -scheme PowerSync-Package -destination "platform=watchOS Simulator,arch=arm64,name=Apple Watch Ultra 2 (49mm)"
